body {
    background: black;
}

.app {
    min-width: 500px;
    max-width: 800px;
    min-height: 300px;
    padding: 10px;
    margin: 0 auto;
}

.image-style {
    width: 100%;
    margin: 100px 0;
    border: 20px;
}

.center-button {
    text-align: center;
}

.input {
    padding: 100px 50px 50px 50px;
    text-align: center;
}

.message {
	position: absolute;
	width: 100%;
	padding: 70px;
	text-align: center;
	font: 20px arial, sans-serif;
    color: white;
}

.page {
	padding-top: 140px;
}

.score {
	font: bold 35px arial, sans-serif;
	color: white;
    position: absolute;
    top: 0;
    left: 5px;
}

.timer {
    font: bold 35px arial, sans-serif;
    color: white;
    position: absolute;
    top: 0;
    right: 5px;
}

.bg {
    height: 250px;
    width: 250px;
    border-radius: 25px;
    border: 2px solid white;
}

.bg-border {
    height: 250px;
    width: 250px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 25px;
    border: 2px solid white;
}

.input-txt {
    color: white;
    font: 16px arial, sans-serif;
}

input, textarea {
  background: rgba(0,0,0,.1);
  border-radius: 5px;
  outline: none;
}