body {
    background: black;
}

body.white {
    background: white;
}

.app {
    min-width: 500px;
    max-width: 800px;
    min-height: 300px;
    padding: 10px;
    margin: 0 auto;
}

.top {
    padding-bottom: 100px
}

.image-style {
    width: 100%;
    margin: 100px 0;
    border: 20px;
}
.center-button {
    text-align: center;
}

.btn-button-reverse:focus {
    outline-color: transparent;
    outline-style: none;
}

.btn-button-reverse, .btn-button-reverse:link, .btn-button-reverse:visited {
    background-color: transparent;
    border-radius: 0;
    color: #585858;
    border: 2px solid #585858;
}
.btn-button-reverse:active, .btn-button-reverse:hover {
    background-color: #585858;
    color: white;
    border: 2px solid white;
}

.input {
    padding: 40px 50px 50px 50px;
    text-align: center;
    font-size: 16px
}

.message {
    position: absolute;
    width: 100%;
    text-align: center;
    font: 20px arial, sans-serif;
}

.page {
    padding-top: 10px;
}

.score {
    font: bold 35px arial, sans-serif;
    color: black;
    float: left;
}

.time {
    font: bold 35px arial, sans-serif;
    color: black;
    float: right;
}

.circle {
    border-radius: 50%;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    background-color: #ef8913;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px
}